# EDA and Simulator Temporary Files
xsim.dir/
webtalk/
.Xil/
INCA_libs/
cov_work/
xcelium.d/
*.jou
*.log
*.pb
*.wdb
*.vcd
*.rlx
*.sdb
*.snap
*.exe
*.dll
*.err
*.history
*.key
*.diag

# IDE and OS
.vscode/
.idea/
Thumbs.db
Desktop.ini
